<h1>Welocme to Contact app</h1>
<h3>here you can creat and mange all your contonac info be useing this app</h3>
<h3>you only need to Sing Up to start useing this app</h3>
<button class="btn"><%= link_to "Sing Up", new_user_registration_path %></button> <br>
<button class="btn"><%= link_to "hoem", root_path %></button>

