    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="<%= asset_path('profile') %>" alt="">
                    <div class="intro-text">
                        <h1 class="name">Contacts App</h1>
                        <hr class="star-light">
                        <span class="skills">web copy for yoru contacts info</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>You Can</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 portfolio-item">
                        <img src="<%= asset_path('portfolio/cloud-computing')%>" class="img-responsive center-block" alt="Cabin">
                    <p>access from anywhere and anytime</p>
                </div>
              <div class="col-sm-4 portfolio-item">
                        <img src="<%= asset_path('portfolio/keywords')%>" class="img-responsive center-block" alt="Cabin">
                    <p>everything it's up and protected for your info</p>
                </div>
               <div class="col-sm-4 portfolio-item">
                        <img src="<%= asset_path('portfolio/medal')%>" class="img-responsive center-block" alt="Cabin">
                    <p>all of the is for free</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>this a test app done for JungleCoders, in this app you cand sing up and use this app. this exstr text you can edite later. this text you can change it later, </p>
                </div>
                <div class="col-lg-4">
                    <p>this text you can change it later, this text you can change it later, this text you can change it later, this text you can change it later. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Sing up
                    </a>
                </div>
            </div>
        </div>
    </section>

